@model Equipe
@{
    ViewData["Title"] = "Equipe";
}
<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
        </div>
    <form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data" class="cadastro">
        <div class="campo">

        <label>ID</label>
        <input type="namber" placeholder="Digite um numero" name="IdEquipe" />

        </div>

        <div class="campo">

        <label>Nome</label>
        <input type="text" placeholder="Digite o seu nome" name="Nome" />

        </div>

        <div class="campo">

        <label>Imagem</label>
        <Input type="file" name="Imagem" />

        </div>

        <button class ="gradient btn"type="submit">Cadastrar</button>

    </form>

<table class="table table-striped table-responsive">

    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Foto</th>
    </thead>
    <tbody>
        @foreach (Equipe equipe in ViewBag.Equipes)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem" alt="imagem da equipe @equipe.Nome"width="40"></td>
                <td><a asp-area="Link para excluir uma equipe" asp-controller="Equipe"asp-action="Excluir"asp-route-id="@equipe.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>











